In [1]:
import sys
from pathlib import Path
sys.path.append(str(Path().resolve().parent / "src"))

from data_loader import load_data, save_data
from sklearn.preprocessing import LabelEncoder

In [2]:
data = load_data("email.csv", "raw")
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
data.Category.value_counts()

Category
ham               4825
spam               747
{"mode":"full"       1
Name: count, dtype: int64

In [4]:
data[data.Category != "ham"]

            Category                                            Message
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...
5               spam  FreeMsg Hey there darling it's been 3 week's n...
8               spam  WINNER!! As a valued network customer you have...
9               spam  Had your mobile 11 months or more? U R entitle...
11              spam  SIX chances to win CASH! From 100 to 20,000 po...
...              ...                                                ...
5540            spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547            spam  Had your contract mobile 11 Mnths? Latest Moto...
5566            spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567            spam  This is the 2nd time we have tried 2 contact u...
5572  {"mode":"full"                                    isActive:false}

[748 rows x 2 columns]

In [5]:
data = data.drop(index=5572)
data = data.reset_index(drop=True)

In [6]:
data.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [7]:
data.isna().value_counts()

Category  Message
False     False      5572
Name: count, dtype: int64

In [8]:
le = LabelEncoder()
data.Category = le.fit_transform(data.Category)

In [9]:
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [10]:
save_data(data, "data.csv")

In [11]:
load_data("data.csv", "processed")

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]